@font-face {
    font-family: 'amazon_emberbold';
    src: url('font woff/amazon_ember_bold-webfont.woff2') format('woff2'),
         url('font woff/amazon_ember_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'amazon_embermedium';
    src: url('font woff/amazon_ember_medium-webfont.woff2') format('woff2'),
         url('font woff/amazon_ember_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;



}


@font-face {
    font-family: 'amazon_emberthin';
    src: url('font woff/amazon_ember_thin-webfont.woff2') format('woff2'),
         url('font woff/amazon_ember_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'amazon_emberregular';
    src: url('font woff/amazon_ember-webfont.woff2') format('woff2'),
         url('font woff/amazon_ember-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
  --colore-primary: #131A22;
  --colore-secondary: #37475A;
  --colore-tertiary: #232F3E;
  --colore-accente: #FEBD69;
  --colore-sale: #B22222;
  --colore-link: #4d79ff;
  --colore-linkHover: #ffa64d;
  --colore-button: #ffff1a;
  --colore-buttonHover: #e6e600;
  --colore-save: #8cff66;
  --colore-bestSeller:  #ff9900;
}

.sprite {
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-amazon-base-logo {
    width: 114px;
    height: 46px;
    background-position: -5px -5px;
}

.sprite-arrow-left {
    width: 21px;
    height: 22px;
    background-position: -130px -5px;
}

.sprite-avatar {
    width: 57px;
    height: 46px;
    background-position: -161px -5px;
}

.sprite-cart {
    width: 57px;
    height: 46px;
    background-position: -228px -5px;
}

.sprite-close {
    width: 44px;
    height: 41px;
    background-position: -295px -5px;
}

.sprite-down {
    width: 21px;
    height: 22px;
    background-position: -349px -5px;
}

.sprite-hmenu {
    width: 44px;
    height: 41px;
    background-position: -380px -5px;
}

.sprite-larg-transparent-right {
    width: 21px;
    height: 22px;
    background-position: -434px -5px;
}

.sprite-location {
    width: 57px;
    height: 46px;
    background-position: -465px -5px;
}

.sprite-right {
    width: 21px;
    height: 22px;
    background-position: -532px -5px;
}

.sprite-search {
    width: 34px;
    height: 41px;
    background-position: -563px -5px;
}

.sprite-transparent-arrow-left {
    width: 21px;
    height: 22px;
    background-position: -607px -5px;
}

.sprite-transparent-down {
    width: 21px;
    height: 22px;
    background-position: -638px -5px;
}

.sprite-transparent-right {
    width: 21px;
    height: 22px;
    background-position: -669px -5px;
}
